// NAVBAR
.navbar {
  @include display-flex-between;
  width: $widthInner;
  height: 80px;
  margin: auto;
  background-color: #fff;
  border-bottom: 1px solid #DEDAD7;
}

.nav_left {
  img {
    margin-right: $marginRight15;
  }
  h2 {
    font-weight: lighter;
  }
}
.nav_right {
  .hamburger_menu {
    display: none;
  }
  li:not(:last-child) {
    margin-right: $marginRight40;
  }
  li {
    a {
      color: $primarycolor;
      font-weight: bold;
      font-size: 13px;
      &.login_btn {
        color: #30488f;
        &:hover {
          background-color: #30488f;
          color: #fff;
        }
      }
    }
    .login_btn {
      @include login-button;
      @include display-flex-align-center;
      & img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }
  @media screen and (max-width: 850px) {
    .menu {
      display: none;
    }
    .hamburger_menu {
      display: block;
    }
  }
}

// fine navbar

// JUMBOTRON
.jumbotron {
  width: $widthInner;
  margin: 70px auto;
  .title_wrapper {
    padding: 35px 35px 0 0;
    h1 {
      font-size: 50px;
      line-height: 65px;
      font-weight: normal;
    }
    p {
      font-size: 20px;
      margin: 40px 0;
    }
    .sign_up_btn {
      @include login-button;
      font-size: 13px;
      vertical-align: middle;
      background-color: #30488f;
      color: #fff;
      &:hover {
        background-color: #233569;
      }
      img {
        width: 20px;
        vertical-align: middle;
        margin-bottom: 2px;
        &.slack_img {
          width: 18px;
        }
      }
    }
    span {
      margin: 0 10px;
    }
    .sign_up_email {
      margin-top: 20px;
      display: block;
      line-height: 20px;
      color: $primarycolor;
      i {
        vertical-align: middle;
        line-height: 20px;
        color: $primarycolor;
      }
      &:hover {
        color: #233569;
      }
    }
  }
  .jumbo_wrapper {
    img {
      max-width: 570px;
    }
  }

}
@media screen and (max-width: 1257px) {
  .jumbotron {
    flex-wrap: wrap;
    .title_wrapper {
      text-align: center;
      padding: 0;
    }
    .jumbo_wrapper {
      width: 100%;
      text-align: center;
      & img {
        width: 100%;
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .sign_up_btn {
    display: block;
  }
}
