main {
  background-color: $thirdColor;
  .wrapper_80 {
    padding: 60px;
    text-align: center;
    border-bottom: 1px solid $borderColor;
    .title_wrapper {
      width: 70%;
      margin: auto;
      h2 {
        font-size: 26px;
        font-weight: lighter;
      }
    }
    .process {
      @include flex-center-wrap;
      margin-top: 80px;
      .img_small {
        width: calc(100% / 3);
        .title_wrapper {
          width: 70%;
        }
        img {
          height: 90px;
        }
      }
      .img_medium {
        padding: 30px;
        img {
          height: 330px;
        }
      }
    }
  }
}
