main {
  section:not(:nth-child(2n)) {
    width: $widthInner;
    margin: auto;
    background-color: #F3DCC8;
  }
  .section_top {
    text-align: center;
    &_img_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
